body {
    color: #0D0C26;
    font-weight: 600;
    background-color: #0D0C26;
    font-family: 'Roboto';
    letter-spacing: 0.8px;
}

nav {
    position: fixed;
    height: 57px;
    width: 100%;
    left: 0px;
    top: 0px;
    font-weight: 200;
}

ul {
    height: 57px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a184e;
}

li {
    height: 57px;
    float: left;
    display: flex;
}

li a {
    margin: auto;
    display: block;
    color: white;
    text-align: center;
    height: 57px;
    line-height: 57px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

li a:hover {
    background-color: #0D0C26;
}

.layout {
    width: 700px;
    min-height: 300px;
    color: #0D0C26;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 107px;
}

.inner_layout {
    width: 700px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inner_layout p, h1, h4, form {
    text-align: center;
}

.inner_layout form {
    padding: 0px;
    margin: 0px;
}

.inner_layout h1{
    padding-top: 20px;
    padding-bottom: 5px;
}

.inner_layout h4{
    padding-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 10px;
}

#url {
    width: 218px;
    height: 28px;
    margin: 0px;
    padding: 0px;
    margin-right: 2px;
}

#scan_type{
    width: 174px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
}

input[type=submit] {
    width: 106px;
    height: 33px;
    padding:5px 15px;
    background:#ccc;
    border-radius: 20px;
    border: 0px;
    color: #0D0C26;
    margin-top: 30px;
}

.about_layout {
    width: 750px;
    height: 550px;
    color: #0D0C26;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 107px;
}

.about_inner {
    width: 750px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.about_inner h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

span {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text_h4 {
    padding: 0px;
    margin: 0px;
}

.about_inner h4 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.first {
    width: 370px;
    padding-left: 20px;
    line-height: 1.4;
}

.second {
    width: 530px;
    padding-left: 10px;
    line-height: 1.4;
}

.third {
    width: 500px;
    padding-left: 60px;
    line-height: 1.4;
}