{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="about_layout">
        <div class="about_inner">
            <h1>Сканер XSS-уязвимостей</h1>
            <h4 class="first">
                Для проведения сканирования необходимо:<br />
                &emsp;1) Перейти на главную страницу;<br />
                &emsp;2) Ввести адрес сканирования;<br />
                &emsp;3) Выбрать тип сканирования;<br />
                &emsp;4) Нажать кнопку отправить;<br />
                &emsp;5) Ждать результатов выполнения<br />
            </h4>

            <h4 class="second">
                Сканер XSS-уязвимостей представляет собой средство
                поиска уязвимостей внедрения межсайтовых сценариев
            </h4>

            <h4 class="third">
                Алгоритм обнаружения различных видов XSS-уязвимостей:<br />
                &emsp;&emsp;1. Ввод адреса для проведения сканирования;<br />
                &emsp;&emsp;2. Создание карты сайта;<br />
                &emsp;&emsp;3. Последовательный проход по ссылкам карты;<br />
                    &emsp;&emsp;&emsp;3.1. Поиск Reflected XSS;<br />
                    &emsp;&emsp;&emsp;3.2. Поиск Stored XSS;<br />
                    &emsp;&emsp;&emsp;3.3. Поиск DOM-based XSS;<br />
                &emsp;&emsp;4. Подготовка и формирование отчёта;<br />
                &emsp;&emsp;5. Вывод отчёта и итоговых рекомендаций<br />
            </h4>
        </div>
    </div>
{% endblock %}
