{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="layout" id="about_block">
        <div class="inner_layout" id="about_block">
            <h1>Сканер XSS-уязвимостей</h1>
                Для проведения сканирования необходимо:<br />
                1) Перейти на главную страницу;<br />
                2) Ввести адрес сканирования;<br />
                3) Выбрать тип сканирования;<br />
                4) Нажать кнопку отправить;<br />
                5) Ждать результатов выполнения<br />
            </h4>

            <h4>
                Сканер XSS-уязвимостей представляет собой средство
                поиска уязвимостей внедрения межсайтовых сценариев
            </h4>

            <h4>
                Алгоритм обнаружения различных видов XSS-уязвимостей:<br />
                1. Ввод адреса для проведения сканирования;<br />
                2. Создание карты сайта;<br />
                3. Последовательный проход по ссылкам карты;<br />
                    3.1. Поиск Reflected XSS;<br />
                    3.2. Поиск Stored XSS;<br />
                    3.3. Поиск DOM-based XSS;<br />
                4. Подготовка и формирование отчёта;<br />
                5. Вывод отчёта и итоговых рекомендаций<br />
            </h4>
        </div>
    </div>
{% endblock %}
