{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="layout">
        <div class="inner_layout">
            <h1>Сканер XSS-уязвимостей</h1>
            <h4>Проведите сканирование страницы на наличие различных видов XSS</h4>
            <div class="form_url">
                <form method="POST" action="scan">
                    {{ form.url.label }}<br>
                    {{ form.url }} {{ form.scan_type }}<br><br>
                    {{ form.submit() }}<br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
