{% extends 'base.html' %}

{% block content %}
    <h1>Сканер XSS-уязвимостей</h1>
    <h2>Сканирование сайта {{ url }}</h2>

    {% if scan_type=='1' %}
        <h2>Тип сканирования: Reflected</h2>

        {% for item in internal_urls %}
            {% if scan_reflected_xss(item) %}
                {{ item }} - Reflected XSS<br>
            {% endif %}
        {% endfor %}
    {% elif scan_type=='2' %}
        <h2>Тип сканирования: Stored</h2>
    {% elif scan_type=='3' %}
        <h2>Тип сканирования: DOM-based</h2>
    {% elif scan_type=='4' %}
        <h2>Тип сканирования: Full Scan</h2>
    {% endif %}
{% endblock %}
