{% extends 'base.html' %}

{% block content %}
    <div class="layout">
        <div class="inner_layout">
            <h1>Сканер XSS-уязвимостей</h1>
            <h4>Сканирование сайта {{ url }}</h4>
            {% if scan_type=='1' %}
                <h4>Тип сканирования: Reflected</h4>
                <span>Проверено {{ internal_urls|length }} страниц(ы) <br></span>
                {% set counter = 0 %}
                {% for item in internal_urls %}
                    {% if scan_reflected_xss(item) %}
                        {% set counter = counter + 1 %}
                        {{ item }} - Reflected XSS<br>
                    {% endif %}
                {% endfor %}
                 <span>Обнаружено {{ counter }} уязвимости(ей) <br></span>
            {% elif scan_type=='2' %}
                <h2>Тип сканирования: Stored</h2>
            {% elif scan_type=='3' %}
                <h2>Тип сканирования: DOM-based</h2>
            {% elif scan_type=='4' %}
                <h2>Тип сканирования: Full Scan</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}