{% extends 'base.html' %}

{% block content %}
    <div class="layout">
        <div class="inner_layout">
            <h1>Сканер XSS-уязвимостей</h1>
            <h4 class="text_h4">Сканирование сайта {{ url }}</h4>
            {% set count = namespace(value=0) %}
            {% if scan_type=='1' %}
                <h4 class="text_h4">Тип сканирования: Reflected</h4>
                <br><br />
                <span>Проверено {{ internal_urls|length }} страниц(ы) <br></span>

                {% for item in internal_urls %}
                    {% if scan_reflected_xss(item) %}
                        {% set count.value = count.value + 1 %}
                        <span>{{ item }} - Reflected XSS<br></span>
                    {% endif %}
                {% endfor %}
                 <span>Обнаружено {{ count.value }} уязвимости(ей) <br></span>
            {% elif scan_type=='2' %}
                <h2>Тип сканирования: Stored</h2>
            {% elif scan_type=='3' %}
                <h2>Тип сканирования: DOM-based</h2>
            {% elif scan_type=='4' %}
                <h2>Тип сканирования: Full Scan</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}